{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "plugins": [
    "@softonus/prettier-plugin-whitespace-remover",
    "@softonus/prettier-plugin-duplicate-remover"
  ],
  "trailingComma": "none"
}
